* {
    box-sizing: border-box;
}

body {
    background-color: #962ae6;
    font-family: "Work Sans", sans-serif;
}

.heading {
    font-family: "Days One", sans-serif;
    font-weight: 100;
    text-align: center;
}

/* make nav bar sticky */
nav {
    background-color: #200e3d;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 5px;
    left: 0px;
    width: 100%;
}

a {
    background-color: #200e3d;
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    color: #52c5ff;
}

/* mobile first: settings for page when viewed with mobile device 
 so set sizes to suit mobile device 
 as well as settings for all sizes */

/*  top - picture of John  and surrounding div */
.divjohn {
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

#imgjohn {
    width: 35%;
    margin: auto;
    margin-top: 10%;
}

/*--------------------------*/

/*  about section:  image and text  */
#about {
    border: 15px solid rgb(255 114 114 / 80%);
    padding: 20px;
    margin: 75px auto;
    width: 95%;
}

.divaboutparent {
    /* parent container:  flex direction: column for mobile devices  */
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    margin: 15px auto;
}

.divaboutimg {
    /*set to grid otherwise image does not center   */
    display: grid;
}

.imgabout {
    width: 50%;
    justify-self: center;
    padding: 15px;
}

/*--------------------------------*/
/* third section:  projects */

.imgkids,
.imgfamily {
    width: 95%;
}

.divprojectsparent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.divprojects {
    width: 75%;
    padding: 20px 10px 80px 10px;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
}

.headingprojects {
    color: white;
    text-align: center;
    padding: 10px;
}

.projectbutton {
    border: solid 3px lightblue;
    border-radius: 25px;
    color: #962ae6;
}

.projectbutton:hover {
    color: white;
    font-weight: bold;
    background-color: lightblue;
}

/*----------------------------*/

/*contact section: */

.divcontact {
    background-color: rgba(3, 3, 3, 45%);
    padding: 30px 0px;
}

.divcontacttop {
    text-align: center;
    padding: 30px 5px;
}

.parentcontactinput {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 95%;
    margin: auto;
}

.divcontact {
    /* text color of contact section */
    color: #a198a5;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin: 5px;
    border-radius: 6px;
    padding: 15px;
}

input[type="text"],
input[type="email"] {
    height: 50px;
}

textarea {
    /* used fixed height so that it lines up with other contact details when flex direction = row */
    height: 206px;
}

label {
    padding: 0px 20px;
}

#submitbutton {
    color: #1d3d5f;
    background-color: lightblue;
    padding: 10px 30px;
    /* set margin so that button lines up to the right with message */
    margin: 20px 3vw;
    border-radius: 5px;
}

#submitbutton:hover {
    color: white;
    background-color: black;
}

#submitdiv {
    width: 100%;
    text-align: right;
}


footer {
    background-color: #1f2027;
    color: white;
    padding: 10px 50px;
}


/* colors for whole page */
.backwhite {
    background-color: white;
}

.h2contact {
    color: white;
}


@media screen and (min-width: 200px) and (max-width: 500px) {

    /* make image size smaller for very small screen */
    .imgabout {
        width: 150px;
    }
}

@media screen and (min-width: 630px) {
    .divprojects {
        /* reduce project size slightly when screen enlarged */
        width: 60%;
        /* adjust padding to reduce white space at bottom  */
        padding: 20px 10px;
    }

    /* reduce about section slightly */
    #about {
        width: 85%;
    }
}

@media screen and (min-width: 910px) {
    /*  reduce 'project' size further
        change 'about' section and 'contact' section to row  
        adjust padding 
    */

    .divaboutparent {
        flex-direction: row;
    }

    #about {
        width: 70%;
    }

    .divaboutimg {
        flex-basis: 30%;
        padding: 20px;
    }

    .imgabout {
        /*fixed width  for larger screens - looks best */
        width: 230px;
    }

    .divabouttext {
        /*testing:  I have updated this */
        flex-basis: 70%;
        padding: 10px;
    }

    .divprojects {
        width: 55%;
    }

    .parentcontactinput {
        flex-direction: row;
        justify-content: center;
    }

    .contactinfochild {
        flex-grow: 1;
        padding: 10px;
    }

    #submitbutton {
        margin: 20px 3vw;
    }
}


@media screen and (min-width: 1200px) {

    /*
    change project section to row
    adjust size and padding of different sections
  */

    .divprojectsparent {
        flex-direction: row;
        justify-content: center;
    }

    .divprojects {
        /*
        reduce size and also adjust margin to override margin: auto 
        since they are now side by side
        */
        flex-basis: 30%;
        margin: 40px 20px;
    }

    form {
        /* reduce size and center */
        width: 80%;
        margin: auto;
    }

    #submitbutton {
        /* adjust margins so that button lines up to the right with message */
        margin: 20px 2.5vw;
    }
}